/* *{
  border: solid red;
} */

html{
  box-sizing: border-box;
  background-color: #111111;
  color: white;
}

/* HEADER STYLES */
header{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* margin: 10% 0 0 3%; */
  position: fixed;
}

/* header a, header div{
  margin-left: 2rem;
} */

.headerContainer{
  height: 100vh;
  margin-left: 2rem;
  padding: 0 0 35rem 0;
  width: 16em;
  background-color: #1111114f;
}

.logo {
  margin-top: 5rem;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}


.nav{
  display: flex;
  flex-direction: column;
  /* border-radius: 5%; */
  /* background-color: aliceblue; */
  /* margin-top: 10px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.nav a{
  margin-top: .9rem;
  /* margin-right: 1.5rem; */
  margin-left: 1.5rem;
  text-decoration: none;
  color: white
}

.nav a:hover{
  color:rgb(194, 193, 192);
}

/* CAROUSEL STYLING */
.wrapper{
  /* margin-top: 100px; */
  /* margin-left: 1rem; */
  height: 100vh;
/*   border: 1px solid blue; */
  display: flex;
  overflow-x: auto;
}

/* .wrapper::-webkit-scrollbar{
  width: 0;
} */

.item img{
  object-fit: cover;
  height: 100vh;
  min-width: 50rem;
  /* margin-right: .6rem;  */
}

.imageInfo{
  background-color: #111111;
}

.imageInfo div {
  margin: 70% 2rem 0 2rem;
  width: 16em;
}

.item {
  margin-right: 1200px; 

}

.wrapper .item{
  /* width: 600px; */
  height: 100vh;
  /* line-height: 110px; */
  /* text-align: center; */
  /* background-color: lightgrey; */
  margin-right: 0; 
  object-fit: cover;
}

/* CONTACT STYLES */
.contactContainer{
  width: 60%;
  margin-left: 30rem;
  margin-top: 2rem;
}

.headerImageContainer img{
  height: 22rem;
  min-width: 1000px;
  object-fit: cover;
  margin-bottom: 4rem;
}

.aboutText{
  display:flex;
}

.aboutText div{
  margin-right: 1.2rem;
}

.aboutText h1{
  font-size: 1.6rem;
}

.bio {
  width: 65%;
}

.featured p{
  font-size: .7rem;
}